.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#like {
  height: 30px;
  width: 30px;
}

#meh {
  height: 30px;
  width: 30px;
}

#dislike {
  height: 25px;
  width: 25px;
}

.buttons {
  display: flex;
}